.app-shell {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
}

#main-content {
  flex: 1;
  overflow: auto;
  background-color: #f7f7f7;
  padding-bottom: 6rem;
  box-sizing: border-box;
  -ms-overflow-style: none; /* IE and Edge */
  scrollbar-width: none; /* Firefox */
}

#main-content::-webkit-scrollbar {
  display: none;
}

main {
  background-color: #eeedee;
}
