@use "@src/styles/base/variables" as *;

.solutions-modal-overlay {
  position: fixed;
  inset: 0;
  background: rgba(0, 0, 0, 0.35);
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 1000;
}

/* MODAL */
.solutions-modal {
  width: 520px;
  max-width: 90%;
  max-height: calc(100svh - 10%);
  background: #fff;
  border-radius: 16px;
  padding: 35px;
  padding-top: 40px;
  padding-bottom: 20px;
  box-shadow: 0 10px 35px rgba(0, 0, 0, 0.12);
  font-family: "Inter", sans-serif;
}

/* HEADER */
.header-solution {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 6px;
}

.header-left {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  gap: 8px;
  font-family: $font-family-3;

  h2 {
    font-size: 20px;
    font-weight: 800;
    margin: 0;
    margin-bottom: 15px;
  }

  svg {
    color: #555;
  }

  .header-left-icon {
    position: absolute;
    top: -65px;
    left: -35px;
    background: #fff;
    padding: 8px;
    border-radius: 999px;
    border-bottom-left-radius: 0px;
    border-bottom-right-radius: 0px;
  }
}

.close-btn-icon {
  position: relative;
  margin-top: -70px;
  margin-right: -20px;
  border: none;
  background: transparent;
  cursor: pointer;
  color: #777;

  &:hover {
    color: #000;
  }
}

/* SUBTITLE */
.subtitle {
  font-size: 13px;
  font-weight: 300;
  color: #1d1d1d;
  margin-bottom: 16px;
  padding-left: 5px;
  line-height: 1.4;
}

/* SOLUTION BLOCK */
.solution-wrapper {
  margin-bottom: 12px;
  padding-bottom: 10px;
}

/* HEADER ACCORDION */
.solution-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  cursor: pointer;

  font-size: 14px;
  font-weight: 600;
  color: #222;
  padding: 8px 0;
  padding-bottom: 0px;
  margin-bottom: 0px;

  span {
    padding-left: 6px;
    font-weight: 800;
  }

  svg {
    color: #000;
  }
}

/* BODY */
.solution-body {
  margin-top: 8px;
}

/* BUTTON ADD */
.add-solution {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  margin-top: 16px;
  padding: 12px;
  border-radius: 8px;
  border: 0.5px solid rgba(0, 0, 0, 0.16);
  background: #fff;
  gap: 6px;
  font-size: 14px;
  cursor: pointer;
  transition: all 0.2s ease;

  &:hover {
    background: #f0f0f0;
  }
}

/* CLOSE BTN */
.close-btn {
  margin-top: 20px;
  width: 100%;
  background: none;
  border: none;
  font-size: 14px;
  color: #666;
  cursor: pointer;

  &:hover {
    color: #000;
  }
}
